<div class="row">
  <div class="col-md-12">

    <blockquote>
      <p>... music can change your mood instantly. It can make memories feel present and any dream seem tangible.</p>
      <footer>Katie Kacvinsky in <cite title="Source Title">First Comes Love</cite></footer>
    </blockquote>

    <h1>What's your mood right now?</h1>

    <div class="row">
      <div class="col-md-12">
        <%= render 'mood_selector' %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">

        <% if @tracks_uris %>
          <h2>Enjoy!</h2>
          <br>

          <p><%= mp3_player @tracks_uris %></p>

        <% end %>

      </div>
    </div>

  </div>
</div>
